# Python
__pycache__/
*.pyc
*.pyo
.env

# Android
android/.gradle/
android/local.properties
android/app/release.keystore
android/app/build/
android/.idea/
android/**/*.iml
android/captures/

# macOS
.DS_Store
